* {
  /* border: 1px white dashed; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Mystery Quest", cursive;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #353540;
}

.container {
  margin: 0 auto;
  padding-top: 5%;

  height: 100%;
}

h1,
em {
  color: #69c195;
  font-size: 6rem;
  text-align: center;
  text-shadow: 2px 3px 4px #000000;
}

h2 {
  color: #69c195;
  font-size: 3rem;
  text-shadow: 2px 3px 1px #000000;
}

#section {
  display: flex;
  flex-direction: row;
  /* margin: 2rem 0; */
}

.panel {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  min-height: 200px;
  text-align: center;
  padding: 10px;
}

.dice {
  margin-top: 15%;
  width: 100px;
  height: 100px;
  background-color: rgba(256, 256, 256, 0);
  justify-self: center;
  align-self: center;
  border-radius: 2%;
}

.dice1 {
  background-image: url("./images/dice\ 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dice2 {
  background-image: url("./images/dice\ 2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dice3 {
  background-image: url("./images/dice\ 3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dice4 {
  background-image: url("./images/dice\ 4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dice5 {
  background-image: url("./images/dice\ 5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dice6 {
  background-image: url("./images/dice\ 6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer {
  color: rgb(221, 220, 220);
}

.spin {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}